Flask==2.3.3
line-bot-sdk==3.17.0
google-api-python-client==2.45.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
pytz==2022.1
gunicorn==20.1.0
Werkzeug==2.3.8
python-dotenv==0.20.0
